
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  max-height: 100vh;
  width: 100vw;
}


.navbar {
  width: 100%;
  height: 70px;
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 15px;
}
.bell-btn{
    background: none;
    border:none;
    color:white;
    font-size:22px;
    cursor: pointer;
}
.bell-btn:hover{
    color:#ffd700;
}
.home-btn{
    background:none;
    border:none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}
.home-btn:hover{
    color:#ffd700
}
.user-info{
    font-size: 16px;
}


.home-body {
  display: flex;
  min-height: calc(100vh - 70px);
}


.sidebar {
  width: 250px;
  min-height: calc(100vh - 70px);
  background: #f3f4f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-right: 2px solid #d1d5db;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu button {
  border: none;
  background: transparent;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.logout-btn {
  padding: 10px;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
}



.content {
  flex: 1;
  padding: 40px;
}

.menu-btn{
    width:100%;
    padding:12px;
    border:none;
    background:none;
    text-align:left;
    cursor:pointer;
    font-size:16px;
}

.menu-btn:hover{
    background:#2563eb;
    color:white;
}

.submenu{
    display:flex;
    flex-direction:column;
    margin-left:20px;
    margin-top:5px;
    margin-bottom:10px;
}

.submenu button{
    border:none;
    background:none;
    text-align:left;
    padding:8px;
    cursor:pointer;
    color:#555;
}

.submenu button:hover{
    background:#e5e7eb;
    border-radius:5px;
    color:#2563eb;
}

.card-container{
    display: flex;
    gap:25px;
    margin-top: 30px;
    
}
.card{
    width: 250px;
    height: 130px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 20px 8px rgb(0,0,0,15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.card h3{
    margin-bottom: 10px;
    color: #555;
}
.card h1{
    color:#2563eb;
}
.welcome-card{
    margin-top: 40px;
    background: white;
    padding:25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0.15);

}